<app-toolbar></app-toolbar>
<md-sidenav-container (backdropClick)="sidenavCloseRequest$.next($event)" fxFlex>

  <md-sidenav [mode]='sidenavMode | async' [opened]="sidenavOpen$ | async" fxLayout="column" #sidenav>
    <app-sidebar (routeClick)="sidenavCloseRequest$.next($event)" fxLayout="column" fxFlex></app-sidebar>
  </md-sidenav>

  <div style="height: 100%; display: flex">
      <div id="Router-parent-thingy" style="display: flex; flex: 1; flex-direction:column; min-width: 0;">
          <router-outlet></router-outlet>
      </div>
  </div>

</md-sidenav-container>