
:host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex: 1 1 1e-09px;
}

.post {
    margin: 10px;
    padding: 10px;
    overflow: auto;
    color: rgba(0,0,0,.74);
    font-family: Roboto,"Helvetica Neue",sans-serif;
}