<div class="npc layout-column flex">
  <div class="flex"></div>
  <div class="dialoug">
    <h3>Eli C Davis</h3>
    <p>
      {{textToDisplay}}
    </p>
    <div *ngIf="displayOptions != null">
      <div *ngIf="displayOptions.length > 0">
        <button *ngFor="let item of displayOptions" (click)="setDialouge(item)">{{item.title}}</button>
      </div>
      <div *ngIf="displayOptions.length == 0">
        <button (click)="nextFrameInDialouge()">Next</button>
      </div>
    </div>
  </div>
  <img class="npc-person" [src]="currentImage">
</div>