/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

html {
    height: 100%;
    display: flex;
}

app-root, body {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex: 1 1 1e-09px;
    -webkit-box-flex: 1;
    margin: 0
}


.white-frame{
    background-color: white;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.2);
}